In [1]:
import pandas as pd

In [45]:
market = pd.read_csv('market100.csv')

In [6]:
market.head()

,number,name,position,age,nation,team,value
0,1,Kylian Mbappé,Centre-Forward,24,France,Paris Saint-Germain,180
1,2,Erling Haaland,Centre-Forward,22,Norway,Manchester City,170
2,3,Jude Bellingham,Central Midfield,19,England,Borussia Dortmund,120
3,4,Vinicius Junior,Left Winger,22,Brazil,Real Madrid,120
4,5,Jamal Musiala,Attacking Midfield,20,Germany,Bayern Munich,110

In [22]:
# 데이터프레임 : 변수의 합(행의 합)
market.sum(axis=0)

number                                                   5050
name        Kylian MbappéErling HaalandJude BellinghamVini...
position    Centre-ForwardCentre-ForwardCentral MidfieldLe...
age                                                      2458
nation      FranceNorwayEnglandBrazilGermanyEnglandEngland...
team        Paris Saint-GermainManchester CityBorussia Dor...
value                                                    7060
dtype: object

In [25]:
# 데이터프레임 : 관측치의 합(열의 합)
# market.sum(axis=1) # Error -> 문자와 숫자의 합
market.sum(axis=1, numeric_only=True)

0     205
1     194
2     142
3     146
4     135
     ...
95    170
96    174
97    175
98    179
99    180
Length: 100, dtype: int64

In [23]:
# 데이터 프레임 : 숫자로 이루어진 변수들의 합
market.sum(numeric_only=True)

number    5050
age       2458
value     7060
dtype: int64

In [21]:
# 특정 컬럼 : 행의 합
# 나이, 이적료 총합
# market[['age', 'value']].sum()
# market.loc[:, ['age', 'value']].sum()
# market.sum(numeric_only=True)[1:]
# market.sum()[['age', 'value']] # 데이터프레임의 모든 변수를 더하고 특정 컬럼만 추출해 Dtype이 object

age      2458
value    7060
dtype: object

In [27]:
# 특정 행 : 열의 합
# 1 ~ 10위 
# market.head(10).sum(axis=1, numeric_only=True)
market[:10].sum(axis='columns', numeric_only=True)

0    205
1    194
2    142
3    146
4    135
5    137
6    139
7    128
8    133
9    134
dtype: int64

In [34]:
# 특정 행 : 열의 합
# 짝수행
# market[market.index%2==0].sum(axis=1, numeric_only=True).head()
# market.loc[market.index%2==0].sum(axis=1, numeric_only=True).head()
market[::2].sum(axis=1, numeric_only=True).head() # step을 이용해 짝수 표현

0    205
2    142
4    135
6    139
8    133
dtype: int64

In [ ]:
# 열의 합 컬럼 추가
# market['합'] = market[['age','value']].sum(axis=1)
market.insert(7,column='합', value=market[['age','value']].sum(axis=1))

In [59]:
# del market['합']
market.head()

,number,name,position,age,nation,team,value,합
0,1,Kylian Mbappé,Centre-Forward,24,France,Paris Saint-Germain,180,204
1,2,Erling Haaland,Centre-Forward,22,Norway,Manchester City,170,192
2,3,Jude Bellingham,Central Midfield,19,England,Borussia Dortmund,120,139
3,4,Vinicius Junior,Left Winger,22,Brazil,Real Madrid,120,142
4,5,Jamal Musiala,Attacking Midfield,20,Germany,Bayern Munich,110,130

In [60]:
import numpy as np

In [64]:
data = pd.DataFrame({
    '홀수' : [1, 3, 5],
    '짝수' : [2, 4, np.nan]
})
data

   홀수   짝수
0   1  2.0
1   3  4.0
2   5  NaN

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   홀수      3 non-null      int64
 1   짝수      2 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 176.0 bytes

In [66]:
# 행의 합
data.sum()

홀수    9.0
짝수    6.0
dtype: float64

In [69]:
# 결측치가 포함된 연산의 결과는 결측치
data.sum(skipna=False)

홀수    9.0
짝수    NaN
dtype: float64

In [70]:
data.홀수.sum()

9

In [71]:
# 열의 합
data.sum(axis=1)

0    3.0
1    7.0
2    5.0
dtype: float64

In [72]:
data.sum(axis=1, skipna=False)

0    3.0
1    7.0
2    NaN
dtype: float64

In [73]:
# 행의 평균
data.mean()

홀수    3.0
짝수    3.0
dtype: float64

In [74]:
data.mean(skipna=False)

홀수    3.0
짝수    NaN
dtype: float64

In [75]:
# 열의 평균
data.mean(axis=1)

0    1.5
1    3.5
2    5.0
dtype: float64

In [76]:
data.mean(axis=1, skipna=False)

0    1.5
1    3.5
2    NaN
dtype: float64

In [78]:
# 행의 개수(결측치 포함 불가능)
data.count()

홀수    3
짝수    2
dtype: int64

In [85]:
# 행의 합 추가
# data.loc['합'] = data.sum()
data.loc[data.shape[0]] = data.sum()