In [11]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
import pandas as pd
import numpy as np

In [2]:
titanic = pd.read_csv('titanic_clean.csv')
titanic[:5]

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0         0       3    1  22.0      1      0   7.2500      7         3
1         1       1    0  38.0      1      0  71.2833      2         0
2         1       3    0  26.0      0      0   7.9250      7         3
3         1       1    0  35.0      1      0  53.1000      2         3
4         0       3    1  35.0      0      0   8.0500      7         3

# 학습, 테스트 데이터 분리

In [34]:
# 학습, 테스트 데이터 분리
t_feature = titanic.iloc[:,1:]
t_target = titanic.iloc[:,0]

x_train, x_test, y_train, y_test = train_test_split(
    t_feature,
    t_target,
    test_size=0.2,
    random_state=136,
)

# 결정트리 객체 생성 : 학습 / 예측 / 평가

In [35]:
# 결정트리 객체 생성
dt_clf = DecisionTreeClassifier(random_state=136)

# 학습
dt_clf.fit(x_train, y_train)

# 예측
pred = dt_clf.predict(x_test)

# 평가
print('예측 정확도 >>', accuracy_score(y_test, pred))

예측 정확도 >> 0.770949720670391

# 성능 평가 지표

## 오차행렬

In [38]:
## y_test : 생존비율 확인
y_test.value_counts(normalize=True)

Survived
0    0.659218
1    0.340782
Name: proportion, dtype: float64

In [36]:
confusion_matrix(y_test, pred)

array([[95, 23],
       [18, 43]], dtype=int64)

## 정확도

In [39]:
accuracy_score(y_test, pred)

0.770949720670391

In [40]:
cm = confusion_matrix(y_test, pred)

In [43]:
# 정확도
(cm[0, 0] + cm[1, 1]) / np.sum(cm)

0.770949720670391

## 정밀도
- 예측을 Positive로 한 대상 중에 예측과 실제 값이 Positive로 일치한 데이터의 비율을 뜻한다.
- 주체가 예측

In [46]:
from sklearn.metrics import precision_score

# 정밀도
precision_score(y_test, pred)

0.6515151515151515

In [49]:
cm[1, 1] / (cm[0,1] + cm[1,1])
cm[1, 1] / cm[:, 1].sum()

0.6515151515151515

## 재현율
- 실제 값이 Positive인 대상 중에 예측과 실제 값이 Positive로 일치한 데이터의 비율을 뜻한다.
- 주체가 실제 값

In [50]:
from sklearn.metrics import recall_score

# 재현률
recall_score(y_test, pred)

0.7049180327868853

In [55]:
cm[1, 1] / cm[1, :].sum()

0.7049180327868853

In [ ]:
# threshold