In [1]:
import pandas as pd

In [8]:
df1 = pd.DataFrame({
    'x1' : ['A', 'B', 'C'],
    'x2' : [1, 2, 3],
})

df2 = pd.DataFrame({
    'x1' : ['A', 'B', 'D'],
    'x2' : [4, 5, 6],
})

In [10]:
pd.merge(df1, df2, how='left', on='x1')

  x1  x2_x  x2_y
0  A     1   4.0
1  B     2   5.0
2  C     3   NaN