In [1]:
import pandas as pd

In [3]:
# df = pd.DataFrame({
#     'a' : [2, 4, 6],
#     'b' : (1, 3, 5)
# })

# 컬럼에 데이터의 수가 다르면 에러
df = pd.DataFrame({
    'a' : [2, 4, 6],
    'b' : (1, 3)
})
df

ValueError: All arrays must be of the same length

In [5]:
# 딕셔너리 형태
df = pd.DataFrame(
    {
        'a' : [2, 4, 6],
        'b' : (1, 3, 5)},
    index=['일', '이', '삼'])
df

   a  b
일  2  1
이  4  3
삼  6  5

In [13]:
# 리스트 형태
df = pd.DataFrame(
    data=[[2, 4, 6]],
    index=['a'],
    columns=['one', 'b', 'c']
)
df

   one  b  c
a    2  4  6

In [16]:
# df = pd.DataFrame(
#     [[2, 4, 6],[1, 3, 5]]
# )
df = pd.DataFrame(
    data=[[2, 4, 6],
     [1, 3, 5]],
    columns=['co1', 'co2', 'co3']
)
df

   co1  co2  co3
0    2    4    6
1    1    3    5