## loc [location]
- 데이터프레임의 행이나 열에 label이나 index로 접근 가능
- 문법
    - DataFrame.loc[행이름, 열이름]
    - DataFrame.loc[행이름]

In [25]:
import pandas as pd

### 데이터프레임 생성

In [2]:
lt = [range(1,21,2), range(2,21,2), range(10,101,10)]
df = pd.DataFrame(data=lt, index=['row1', 'row2', 'row3'], columns=[f'co{idx}' for idx in range(1,11)])
df

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
row1    1    3    5    7    9   11   13   15   17    19
row2    2    4    6    8   10   12   14   16   18    20
row3   10   20   30   40   50   60   70   80   90   100

### 행 추출
- 문법 : DataFrame.loc[행이름]

In [10]:
df.loc['row1']

co1      1
co2      3
co3      5
co4      7
co5      9
co6     11
co7     13
co8     15
co9     17
co10    19
Name: row1, dtype: int64

### row1, row3 추출
- 문법 : DataFrame.loc[[행이름1, 행이름2]]

In [13]:
df.loc[['row1', 'row3']]

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
row1    1    3    5    7    9   11   13   15   17    19
row3   10   20   30   40   50   60   70   80   90   100

### row1, row2 추출

In [17]:
# df['row1' : 'row2']
# df.loc[['row1','row2']]
df.loc['row1' : 'row2']

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
row1    1    3    5    7    9   11   13   15   17    19
row2    2    4    6    8   10   12   14   16   18    20

### 열 추출
- 문법 : DataFrame.loc[행이름, 열이름]

In [28]:
# df.loc[['row1', 'row2', 'row3'], 'co2']
# df.loc['row1':'row3', 'co2']
df.loc[:, 'co2']
df['co2']

row1     3
row2     4
row3    20
Name: co2, dtype: int64

### co2, co6, co8 추출

In [32]:
df[['co2', 'co6' , 'co8']]
df.loc[:,['co2', 'co6', 'co8']]

NameError: name 'co6' is not defined

### co2 ~ co8 추출

In [40]:
# df.['co2':'co8']
df.loc[:,'co2':'co8']

      co2  co3  co4  co5  co6  co7  co8
row1    3    5    7    9   11   13   15
row2    4    6    8   10   12   14   16
row3   20   30   40   50   60   70   80

### 행 : row2, 열 : co2, co4추출

In [43]:
# df[1:2][['co2', 'co4']]
df.loc['row2',['co2','co4']]

co2    4
co4    8
Name: row2, dtype: int64

### 행 : row1,  row2 열 : co2, co4추출

In [47]:
# df['row1' : 'row2'][['co2', 'co4']]
df.loc['row1':'row2',['co2','co4']]

      co2  co4
row1    3    7
row2    4    8