## iloc [Integer location]
- 데이터프레임의 행이나 열에 index 접근
- 문법
    - 데이터프레임.loc[행index, 열index]
    - 데이터프레임.loc[행index]

In [4]:
import pandas as pd

In [5]:
lt = [range(1,21,2), range(2,21,2), range(10,101,10)]
df = pd.DataFrame(data=lt, index=['row1', 'row2', 'row3'], columns=[f'co{idx}' for idx in range(1,11)])
df

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
row1    1    3    5    7    9   11   13   15   17    19
row2    2    4    6    8   10   12   14   16   18    20
row3   10   20   30   40   50   60   70   80   90   100

### 행 추출
- 문법 : 데이터프레임.iloc[행index, 열index]

### row1 추출

In [11]:
df.loc['row1']
df.iloc[0]

co1      1
co2      3
co3      5
co4      7
co5      9
co6     11
co7     13
co8     15
co9     17
co10    19
Name: row1, dtype: int64

### row1, row3 추출

In [15]:
df.loc[['row1', 'row3']]
df.iloc[[0, -1]]

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
row1    1    3    5    7    9   11   13   15   17    19
row3   10   20   30   40   50   60   70   80   90   100